.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.home-design {
    max-width: 1140px;
    margin: 0px auto;
}

.home-page2-header-content2 {
    margin: 0;
}

.section2 {
    min-height: inherit;
    height: 100%;
    padding: 133px 0 200px 0;
}

.block-title {
    text-align: center;
    color: #333333;
}

.block-title h1 {
    font-size: 35px;
}

.block-title hr {
}

.block-title h4 {
    font-size: 20px;
}

.home-design-content {
}

.home-design-content .item {
    width: 300px;
    margin: 0px auto;
    margin-top: 90px;
}

.home-design-content .item-title {
    text-align: center;
    color: #0020A1;
}

.home-design-content .item-title .item-title-subtitle {
    font-size: 30px;
    margin: 40px 0 20px 0;
}

.home-design-content .item-title .item-title-subtitle-en {
    font-size: 24px;
}

.home-design-content .item-content {
    font-size: 14px;
    color: #c0c0c0;
    line-height: 30px;
    margin-top: 30px;
}

.home-page2-big-title {
    font-size: 35px;
}

.home-page2-big-title-txt {
    font-size: 20px;
}

.home-page2-flex {
    min-height: inherit;
}

.home-about {
    max-width: 1284px;
    margin: 0px auto;
    padding: 82px 10px 115px 10px;
}

.home-about .block-title {
    margin-bottom: 80px;
}

.home-about-content .item-image img {
    box-shadow: 20px 20px 0 #c7ccd6
}

.home-about-content .item-desc .item-desc-logo {
    margin: 35px 0;
    color: #333;
}

.home-about-content .item-desc .item-desc-logo h3 {
  font-size: 35px;
}

.home-about-content .item-desc .item-desc-logo h4 {
  font-size: 17px;
  margin: 20px 0;
}

.home-about-content .item-desc .item-desc-logo .point {
  padding: 0 10px;
}

.home-about-content .item-desc .item-desc-content {
    font-size: 18px;
    color: #333333;
}

.home-about-content .item-desc .item-desc-content p {
    margin-bottom: 33px;
    line-height: 27px;
}

@media (min-width: 992px) {
    .home-design-content {
    }

    .home-design-content .item {
        float: left;
    }

    .home-design-content .item:nth-child(1) {
    }

    .home-design-content .item:nth-child(2) {
        margin-left: calc((100% - 900px) / 2);
    }

    .home-design-content .item:nth-child(3) {
        float: right;
    }

    .home-about-content .item-image {
        float: left;
        width: 506px;
    }

    .home-about-content .item-desc {
        float: right;
        width: calc(100% - 506px - 66px - 20px);
    }

    .home-about-item-image-mobile {
        display: none;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .home-design {
        padding: 0 10px;
    }

    .home-about {
        padding: 82px 10px;
    }

    .home-about-content .item-image {
        text-align: center;
    }

    .home-about-content .item-desc .item-desc-logo {
      margin-bottom: 0;
    }

    .home-about-content .item-desc .item-desc-logo img {
      display: none;
    }

    .home-about-content .item-desc .item-desc-content {
        margin-top: 20px;
    }

    .home-about-item-image-pc {
        display: none;
    }

    .home-about-item-image-mobile {
        width: 90%;
        max-width: 501px;
    }
}

@media (max-width: 501px) {
    .home-about-content .item-image {
        text-align: left;
    }
}
